:root {
  --xgroups-background-primary: #0f1419;
  --xgroups-background-secondary: #30383f;
  --xgroups-background-darken: rgba(0, 0, 0, 0.5);
  --xgroups-background-lighten: rgba(255, 255, 255, 0.1);
  --xgroups-typography-primary: #eee;
  --xgroups-typography-secondary: #bbb;
  --xgroups-typography-inverted: #000;
  --xgroups-ui-primary: #eff3f4;
  --xgroups-ui-primary-dimen: #bbb;
  --xgroups-border-radius: 24px;
}
.xgroups .form-element {
  position: relative;
  margin-top: 24px;
}
.xgroups .form-input {
  background: var(--xgroups-background-secondary);
  color: var(--xgroups-typography-primary);
  border: 0;
  border-radius: var(--xgroups-border-radius);
  padding: 4px 20px;
  min-height: 50px;
  width: 100%;
}
.xgroups .group-circle-btn:hover {
  background: var(--xgroups-background-secondary);
}
.xgroups.group-tags {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.xgroups .group-tag {
  border-radius: 4px;
  padding: 2px 6px;
  margin-bottom: 2px;
  font-size: 16px;
  cursor: pointer;
}
.xgroups .group-tags-btns {
  gap: 5px;
  padding-top: 5px;
  margin-top: 5px;
  visibility: hidden;
  display: flex;
}
article[data-testid="tweet"]:hover .group-tags-btns {
  visibility: visible;
}
.xgroups .svg-btn {
  fill: var(--xgroups-typography-secondary);
  transition: fill 200ms;
}
.xgroups .svg-btn:hover {
  fill: var(--xgroups-typography-primary);
}
.xgroups .icon-btn {
  height: 14px;
  width: 14px;
}
.xgroups .btn {
  background-color: var(--xgroups-ui-primary-dimen);
  transition: background-color 200ms;
}
.xgroups .btn:hover {
  background-color: var(--xgroups-ui-primary);
}

.xgroups input[type="submit"],
.xgroups .form-btn {
  background-color: var(--xgroups-ui-primary-dimen);
  color: var(--xgroups-typography-inverted);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  margin: 4px;
  padding: 8px;
  outline: 0;
  text-align: center;
  transition: background-color 200ms;
}
.xgroups input[type="submit"]:hover,
.xgroups .form-btn:hover {
  background-color: var(--xgroups-ui-primary);
}

.xgroups .group-tags-btn {
  width: 100%;
}

.xgroups .settings-btns {
  display: flex;
  alignitems: flex-start;
  gap: 8px;
  margin: 16px 0;
}

.xgroups .settings-btn {
  width: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.xgroups .settings-btn svg {
  height: 32px;
}
.xgroups .list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  margin-bottom: 8px;
  overflow-y: auto;
  border-radius: var(--xgroups-border-radius);
  background: var(--xgroups-background-darken);
}

.xgroups .list-item {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8px;
  border-radius: var(--xgroups-border-radius);
}
.xgroups .list-item:hover {
  background: var(--xgroups-background-secondary);
}
.xgroups .list-item-btns {
  display: inline-flex;
  gap: 16px;
}

/* MODALS */

.xgroups.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--xgroups-background-darken);
  z-index: 1002;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xgroups .modal-window {
  color: var(--xgroups-typography-primary);
  background: var(--xgroups-background-primary);
  border: none;
  padding: 16px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0px 64px var(--xgroups-background-lighten);
  border-radius: var(--xgroups-border-radius);
}
.xgroups .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
}
.xgroups .modal-header .form-title {
  font-size: 20px;
  margin: 0;
}
.xgroups .modal-header .form-subtitle {
  font-size: 14px;
  color: #aaa;
  margin: 0;
}
.xgroups .modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.xgroups .modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24px;
}
.xgroups.modal-overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.xgroups.modal-overlay.active {
  opacity: 1;
}
.xgroups.modal-overlay.active .modal-window {
  transform: scale(1);
}
.xgroups .modal-window {
  transform: scale(0.8);
  transition: transform 200ms ease-in-out;
}

.xgroups .text-btn {
  background-color: none;
  color: var(--xgroups-typography-secondary);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  margin: 4px;
  padding: 4px;
  outline: 0;
  text-align: center;
}
.xgroups .text-btn:hover {
  color: var(--xgroups-typography-primary);
  text-decoration: underline;
}
.xgroups form {
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--xgroups-background-primary);
  border-radius: var(--xgroups-border-radius);
  box-sizing: border-box;
}
.xgroups .form-title {
  color: var(--xgroups-typography-primary);
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.xgroups .form-footer {
  color: var(--xgroups-typography-secondary);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}
.xgroups select {
  padding: 12px;
  border-radius: var(--xgroups-border-radius);
  background: var(--xgroups-background-secondary);
}
.xgroups .form-subtitle {
  color: var(--xgroups-typography-primary);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}
.xgroups .form-element {
  min-height: 50px;
  height: auto;
  position: relative;
  width: 100%;
  margin-top: 24px;
}
.xgroups .divider {
  width: 100%;
  height: 1px;
  background-color: var(--xgroups-background-secondary);
  margin: 20px 0;
}
.xgroups .form-input,
.xgroups input {
  color: var(--xgroups-typography-primary);
  background-color: var(--xgroups-background-secondary);
  border-radius: var(--xgroups-border-radius);
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  min-height: 50px;
  height: 100%;
  outline: 0;
  padding: 4px 20px;
  width: 100%;
}
.xgroups input[type="color"] {
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
}
.xgroups input[type="color"],
.xgroups input[type="color"]::-webkit-color-swatch,
.xgroups input[type="color"]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: var(--xgroups-border-radius);
  padding: 0;
}
.xgroups .label-bg {
  background-color: var(--xgroups-background-primary);
  border-radius: 10px;
  padding: 4px 10px;
  height: 20px;
  position: absolute;
  top: -28px;
  left: 20px;
  transform: translateY(0);
  transition: transform 200ms;
  color: transparent;
}
.xgroups .form-input.focus ~ .label-bg,
.xgroups input:focus ~ .label-bg,
.xgroups input:not(:placeholder-shown) ~ .label-bg {
  transform: translateY(14px);
}
.xgroups .placeholder {
  color: var(--xgroups-typography-secondary);
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
  transform-origin: 0 50%;
  transition:
    transform 200ms,
    color 200ms;
  transform: scale(1.2);
}
.xgroups .label-bg,
.xgroups .placeholder {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.xgroups .form-input.focus ~ .placeholder,
.xgroups .form-input .placeholder-shown,
.xgroups input:focus ~ .placeholder,
.xgroups input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-34px) translateX(9px) scale(1);
}
.xgroups input:not(:placeholder-shown) ~ .placeholder {
  color: var(--xgroups-typography-secondary);
}
.xgroups input:focus ~ .placeholder {
  color: var(--xgroups-typography-tertiary);
}
.xgroups .submit {
  background-color: var(--xgroups-ui-primary);
  color: var(--xgroups-typography-primary);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 24px;
  outline: 0;
  text-align: center;
  width: 100%;
}
.xgroups .submit:active {
  background-color: var(--xgroups-ui-secondary);
}
.xgroups .loading-spinner {
  position: relative;
  display: inline-block;
  top: 6px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}
.xgroups .loading-spinner-inner {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: var(--xgroups-ui-primary);
  border-radius: 100% 0 0 0;
}
.xgroups .loading-spinner-cutout {
  width: 50%;
  height: 50%;
  background-color: var(--xgroups-background-primary);
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 50%;
  pointer-events: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.xgroups .hidden {
  display: none;
}
